.header {
  padding: 15px 10px;
  background-color: #53389e;
  &__container {
    display: flex;
    align-items: center;
    gap: 45px;
    justify-content: space-between;
  }
  &__logo {
    &-image {
      height: 50px;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
  .burger-button{
    display: none;
  }
  @media (max-width: 600px) {
    .burger-button {
      position: relative;
      width: 40px;
      height: 20px; // Общая высота для 3 линий с промежутками
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      z-index: 100;
      span {
        display: block;
        width: 100%;
        height: 1px;
        background-color: white;
        transition: all 0.3s ease-in-out;
        transform-origin: center;
      }
      &.active {
        span:nth-child(1) {
          transform: translateY(11px) rotate(45deg);
        }
        span:nth-child(2) {
          opacity: 0;
          transform: scaleX(0);
        }
        span:nth-child(3) {
          transform: translateY(-11px) rotate(-45deg);
        }
      }
    }
  }

  &__search {
    width: -webkit-fill-available;
    border: 1px solid #9575d6;
    border-radius: 8px;
    padding: 5px 16px;
    display: flex;
    gap: 6px;
    &-input {
      outline: none;
      border: none;
      background-color: transparent;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      width: 100%;
      color: white;
      &::placeholder {
        color: #9575d6;
      }
    }
  }
  &__nav {
    min-width: 230px;
    @media (max-width: 600px) {
      display: none;
    }
    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
    &-item {
      padding: 5px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #7f56d9;
        border-radius: 6px;
      }
    }
  }
}
