.groupsCheckBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
  position: absolute;
  z-index: 10;
  background-color: white;
  backdrop-filter: blur(10px);
  display: none;
}
.groupsCheckBox .active {
  display: block;
}
.containerCheckbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-top: 1px solid #e4e7ec;
  border-bottom: 1px solid #e4e7ec;
  li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0%;
  }
}
